html {
  font-size: 14px;
}

body { 
  background-color: hsl(30, 38%, 92%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.frame {
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  height: 600px;
  width: 780px;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.fitPicture {
  height: 600px;
  width: 400px;
  border-radius: 15px 0px 0px 15px ;
}

.desktopPicture {
  height: 100%;
  width: auto;
  border-radius: 15px 0px 0px 15px ;
}

.mobilePicture {
  visibility: hidden;
  display: none;
}


.innerFrame {
  display: flex;
}

.text {
  display: block;
  padding: 35px;
  color: hsl(228, 12%, 48%);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
}

.title { 
  letter-spacing: 0.4rem;
  font-weight: 500;
  margin: 0px;
}

.product {
  font-size: 3rem;
  color: hsl(212, 21%, 14%);
  font-family: 'Fraunces', serif;
  margin: 30px 0px;
}

.desc {
  font-weight: 500;
  line-height: 1.5;
  margin: 0px;
}

.price {
  margin: 30px 0px;
  display: flex;
  align-items: center;
}

.newPrice {
  color: hsl(158, 36%, 37%);;
  font-size: 3rem;
  font-family: 'Fraunces', serif;
}

.oldPrice {
  text-decoration: line-through;
  font-weight: 500;
  margin: 0px 20px;
}

.cart {
  background-color: hsl(158, 36%, 37%); 
  border: none;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.attribution {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  background-color: hsl(0, 0%, 100%);
}


@media (max-width: 800px) {

  html {
    font-size: 14px;
  }

  body {
    padding: 10px;
  }

  .desktopPicture {
    visibility: hidden;
    display: none;
  }

  .frame {
    height: auto;
    width: auto;
    display: block;
  }

  .innerFrame {
    flex-direction: column; 
  }

  .fitPicture {
    height: auto;
    width: 100%;
    border-radius: 15px 15px 0px 0px ;
  }

  .mobilePicture {
    height: auto;
    width: 100%;
    visibility: unset;
    display:unset;
    border-radius: 15px 15px 0px 0px ;
  }

  .text {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
}
